$gray: #626262;
$light-coral: #ffdede;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: $gray;
  overflow-x: hidden;
}

.list {
  list-style-type: none;
  margin: 0 auto;
  text-align: center;

  &__item {
    border-bottom: 1px solid $light-coral;
    padding-top: 6px;
  }
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.loader {
  content: ' ';
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 12px solid $light-coral;
  border-color: $light-coral transparent $light-coral transparent;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
